.radio_am {
            position: relative;
            line-height: 30px;
        }
        
        input[type="radio"] {
            width: 30px;
            height: 30px;
            opacity: 0;
        }
.radio_am span{
    margin-left: 10px;
}
        
.radio_am label {
            position: absolute;
            left: 5px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #999;
        }
        
        /*設置選中的input的樣式*/
        /* + 是兄弟選擇器,獲取選中後的label元素*/
 .radio_am input:checked+label { 
            background-color: #b90004;
            border: 1px solid #b90004;
        }
.radio_am input:checked+label::after {
            position: absolute;
            content: '';
            width: 11px;
            height: 16px;
            top: 4px;
            left: 8px;
            border: 4px solid #fff;
            border-top: none;
            border-left: none;
            border-radius: 1px;
            transform: rotate(45deg)
        }